.from-wrap{
  margin-bottom: 20px;
  .form-group{
    margin-right: 20px;
  }
}
$img-size : 80px;
.wrap-img{
  overflow: hidden;
  .img-con{
    position: relative;
    width: $img-size;
    height: $img-size;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    border:1px solid #cccccc;
    .img{
      width: 100%;
      height: 100%;
      display: block;
    }
    .fa-close{
      height: $img-size;
      width: $img-size;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      line-height: 80px;
      color:#aaaaaa;
      background: rgba(0,0,0,0.2);
      display: none;
      font-size: 50px;
    }
    &:hover{
      .fa-close{
        display: block;
      }
    }
  }
}
.offset-img{
  margin-left: 100px;
}

